@import "dropdown.css";

/* -- theme body style -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}


/* -- all basic styles -- */

.container {
    max-width: 1230px;
}

a {
    color: #27b0ff;
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 17px;
    color: #282b30;
    line-height: 1.8;
}

figure,
img,
iframe {
    max-width: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #353638;
    display: block;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-size: 15px;
    color: #777777;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    background: #2e5ea2;
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover {
    background: #e4be1a;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}

blockquote {
    border-left: 4px solid #1e4b8e;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: #1e4b8e;
    opacity: .2;
}

blockquote p {
    font-style: italic;
    color: #1e4b8e;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}


/* -- heading styles -- */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0;
    color: #333333;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}


/* -- navbar style -- */

header.site-header {
    min-height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

header.site-header:before {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #000 100%);
    position: absolute;
    height: 250px;
    opacity: .7;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header-content {
    text-align: center;
    padding: 175px 0;
    position: relative;
}

.header-content h1 {
    color: #ffffff;
    margin-bottom: 15px;
}

.header-content p {
    font-size: 20px;
    color: #ffffff;
}

.header-content a {
    font-size: 12px;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    padding: 12px 20px;
    box-shadow: inset 0 0 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: inline-block;
    margin-top: 20px;
}

#site-navigation .container {
    max-width: 1920px;
}

#site-navigation .top-navigation {
    background: transparent;
    padding: 0;
}

.site-title {
    line-height: 1;
    margin: 0;
}

.site-title a {
    font-size: 44px;
    color: #798095;
}

.site-title strong {
    display: inline-block;
}

.site-title span {
    color: #0c56bc;
    display: inline-block;
}

.site-description {
    font-size: 12px;
    font-style: italic;
    color: #686c6e;
    margin: 0;
}

.top-navigation #navbarmenus div {
    margin: auto 0 auto auto;
}

.navbar-expand-lg .navbar-nav {
    display: block;
}

.navbar-expand-lg .navbar-nav .menu-item {
    position: relative;
    display: inline-block;
    margin: 0 15px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #ffffff;
    padding: 15px 0;
    text-transform: uppercase;
    display: block;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .menu-item-has-children:hover:after {
    color: #fc660a;
}


/* -- Navbar Social Icons -- */

#social-menu {
    margin: 0;
}

#social-menu li {
    display: inline-block;
    margin: 0 32px 0 0;
    text-align: center;
}

#social-menu li:last-child {
    margin: 0;
}

#social-menu li a {
    font-size: 0;
    color: #ffffff;
    transition: .3s;
}

#social-menu li a[href]:before {
    font-family: 'Font Awesome 5 Brands';
    content: "";
    font-size: 18px;
    font-weight: 900;
}

#social-menu li a[href*="facebook.com"]:before {
    content: "\f39e";
}

#social-menu li a[href*="twitter.com"]:before {
    content: "\f099";
}

#social-menu li a[href*="instagram.com"]:before {
    content: "\f16d";
}

#social-menu li a[href*="youtube.com"]:before {
    content: "\f167";
}

#social-menu li a[href*="linkedin.com"]:before {
    content: "\f0e1";
}

#social-menu li a[href*="google.com"]:before {
    content: "\f0d5";
}


/* -- Content Styles -- */

#content {
    background: #ffffff;
}


/* -- Section Styles -- */

section {
    padding: 50px 0 15px;
}

.section-title {
    font-size: 17px;
    font-weight: 700;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 3;
}

.section-title span {
    background: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 9;
    padding: 0 20px;
}

.section-title:after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    top: 50%;
    margin-top: -1px;
    position: absolute;
    background: rgba(51, 51, 51, 0.1);
}

section article {
    margin-bottom: 40px;
}

section article:last-child {
    margin-bottom: 0;
}

section figure {
    position: relative;
    height: 515px;
    min-height: 350px;
    overflow: hidden;
    margin: 0;
}

section figure:after {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
}

section figure img {
    height: 100%;
}

section .blog_content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    max-width: 600px;
}

section .blog_content h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.23;
}

section .blog_content a,
section .blog_content p {
    color: #ffffff;
    position: relative;
    z-index: 9;
}

section .blog_content p {
    display: none;
    max-height: 60px;
    overflow: hidden;
    margin: 20px 0 0;
}

section .blog_content p:nth-child(2) {
    display: block;
}


/* -- Section Two [Section With Two Column ] Styles -- */

.section_two article {
    margin-bottom: 30px;
}

.section_two figure {
    height: 330px;
    min-height: 330px;
}

.section_two .blog_content h3 {
    font-size: 32px;
    padding-right: 150px;
}


/* -- Footer Copyright Styles -- */

#footer {
    background: #ededed;
    color: #7a7a7a;
    padding: 60px 0;
}

#footer .site-footer p {
    margin: 0;
}


/* -- to the top css -- */

.up-btn {
    position: fixed;
    visibility: hidden;
    top: 80%;
    right: 0;
    outline: none;
    background: rgba(0, 0, 0, .3);
    padding: 0px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    border-radius: 0;
    border: 1px solid #ffffff;
    border-right: none;
    outline: none !important;
    transition: all .3s;
    transform: translate3d(100px, 0, 0);
}

#up-btn:hover {
    background: #3381f2;
    border: 1px solid #3381f2;
    border-right: none;
}

.up-btn:focus {
    border-color: #ffffff;
}

#up-btn i {
    font-size: 18px;
    transition: .5s;
    color: #ffffff;
}

#up-btn:hover i {
    color: #000000;
}

.up-btn.ayotothetop {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}