/* -- theme body style -- */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    line-height: 1.5;
    word-break: break-word;
}

#page {
    max-width: 1920px;
    margin: 0 auto;
}


/* -- all basic styles -- */

.container {
    max-width: 1230px;
}

a {
    color: #27b0ff;
    transition: .3s;
}

a:link {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 17px;
    color: #282b30;
    line-height: 1.8;
}

figure,
img,
iframe {
    max-width: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
    list-style-type: none;
}

label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #353638;
    display: block;
}

input,
textarea,
select,
.comment-respond input[type=text],
.comment-respond input[type=email],
.comment-respond .comment-form-comment textarea {
    font-size: 15px;
    color: #777777;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .14);
    width: 100%;
    padding: 12px 15px;
}

input[type="submit"] {
    font-size: 14px;
    background: #2e5ea2;
    color: #ffffff;
    width: auto;
    border: none;
    padding: 15px 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: .3s;
}

input[type="submit"]:hover,
div.wpcf7 input[type=reset]:hover {
    background: #e4be1a;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    padding-left: 8px;
}

blockquote {
    border-left: 4px solid #1e4b8e;
    padding-left: 20px;
    position: relative;
}

blockquote:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f10d";
    font-size: 52px;
    font-weight: 900;
    margin-right: 10px;
    position: absolute;
    color: #1e4b8e;
    opacity: .2;
}

blockquote p {
    font-style: italic;
    color: #1e4b8e;
}

table {
    font-size: 13px;
    color: #556378;
    width: 100%;
    line-height: 2;
}

table th {
    color: #27b0ff;
}

table caption {
    font-size: 19px;
    color: #153f7b;
    caption-side: top;
    padding: 0 0 10px;
    line-height: 1.5;
}


/* -- heading styles -- */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}


/* -- navbar style -- */

header.site-header {
    min-height: 450px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#site-navigation .container {
    max-width: 1920px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, #000 100%);
}

#site-navigation .top-navigation {
    background: transparent;
    padding: 0;
}

.site-branding {
    padding-left: 26px;
}

.site-title {
    line-height: 1;
    margin: 0;
}

.site-title a {
    font-size: 44px;
    color: #798095;
}

.site-title strong {
    display: inline-block;
}

.site-title span {
    color: #0c56bc;
    display: inline-block;
}

.site-description {
    font-size: 12px;
    font-style: italic;
    color: #686c6e;
    margin: 0;
}

.top-navigation #navbarmenus div {
    margin: auto 0 auto auto;
}

.navbar-expand-lg .navbar-nav {
    display: block;
}

.navbar-expand-lg .navbar-nav .menu-item {
    position: relative;
    display: inline-block;
    padding: 37px 26px 33px;
    border-bottom: 5px solid #ffffff;
}

.navbar-expand-lg .navbar-nav:hover {
    border-color: #27b0ff;
}

.navbar-expand-lg .navbar-nav .current-menu-item,
.navbar-expand-lg .navbar-nav .current-menu-parent {
    background: #2a3340;
    border-color: #27b0ff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 15px;
    color: #292e34;
    padding: 0;
    text-transform: uppercase;
    display: block;
}

.navbar-expand-lg .current-menu-item .nav-link,
.navbar-expand-lg .navbar-nav .current-menu-parent .nav-link {
    color: #ffffff;
}


/* -- Navigation Dropdown Styles -- */

.menu-item-has-children:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    content: "\f078";
    color: #2e5ea2;
    margin-left: 8px;
}

.navbar-expand-lg .navbar-nav .current-menu-item.menu-item-has-children:after {
    color: #ffffff;
}

.navbar-expand-lg .menu-item-has-children .nav-link {
    display: inline-block;
}

.navbar-expand-lg .sub-menu {
    z-index: 9;
    animation: fadeInUp .2s ease-in;
}

.navbar-expand-lg .sub-menu .sub-menu {
    animation: fadeInSide .2s ease-in;
}

.navbar-expand-lg .sub-menu .menu-item {
    display: block;
}

.navbar-expand-lg .sub-menu .menu-item {
    border: none;
}

.navbar-expand-lg .menu-item-has-children .sub-menu .nav-link {
    display: block;
    color: #cccccc;
}

.navbar-expand-lg .sub-menu .menu-item-has-children {
    position: relative;
}

.navbar-expand-lg .sub-menu .menu-item-has-children:after {
    position: absolute;
    top: 12px;
    left: 0;
    transform: rotate(90deg);
    color: #ffffff;
}

.navbar-expand-lg .sub-menu .nav-link:hover {
    border-color: #27b0ff;
}


/* -- to the top css -- */

.up-btn {
    position: fixed;
    visibility: hidden;
    top: 80%;
    right: 0;
    outline: none;
    background: rgba(0, 0, 0, .3);
    padding: 0px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    border-radius: 0;
    border: 1px solid #ffffff;
    border-right: none;
    outline: none !important;
    transition: all .3s;
    transform: translate3d(100px, 0, 0);
}

#up-btn:hover {
    background: #3381f2;
    border: 1px solid #3381f2;
    border-right: none;
}

.up-btn:focus {
    border-color: #ffffff;
}

#up-btn i {
    font-size: 18px;
    transition: .5s;
    color: #ffffff;
}

#up-btn:hover i {
    color: #000000;
}

.up-btn.ayotothetop {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}


/* -- All Dropdown Animations -- */

@keyframes fadeInSide {
    0% {
        opacity: 0;
        -webkit-transform: translatex(-20px);
        -ms-transform: translatex(-20px);
        transform: translatex(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translatex(0);
        -ms-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}